body {
	font-family: "Courier New", Courier, monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: black;
}

.wip {
	position: relative;
	width: 100%;
	max-width: 1980px;
	height: 100vh;
	align-content: center;
	text-align: center;
	align-items: center;
}
.top-left {
	position: absolute;
	top: 8px;
	left: 16px;
	text-align: left;
}
#fullpage {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-color: #000000a1;
}
.exit_button {
	position: fixed;
	top: 35px;
	right: 50px;
	scale: 200%;
	color: white;
}
